<%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Uranus</h2>
    <img src="<%=   planetUranus.image  %>"style="max-width:80%">
    <%=   planetUranus.description  %>
</body>
<%- include('partials/footer.ejs') %>
</html>
